*, html, body {
    font-family: Verdana, Arial, sans-serif;
	font-size: 3vmin;
	line-height: 1.3em;
}
body {
    background-color: rgb(255, 255, 255);
}

/*-------------------- BARRE DE RECHERCHE --------------------*/
#searchbar {
    background-color: rgb(250, 238, 249);
    border-style: solid;
    border-color: rgb(180, 55, 151);
    border-width: 0.2em;
    border-radius:1.5em;
    height: 2.3em;
    width: 35vw;
    min-width: 20em;
    margin: 0.5em 1em;
    padding: 0em 0.7em;
    color: rgb(0, 0, 0);
}
::placeholder, ::-webkit-input-placeholder {
    color: rgb(180, 55, 151);
}



/*-------------------- FILTRES --------------------*/

.filtres {
    background-color: rgb(250, 238, 249);
    border-radius: 0.2em;
    padding: 0.8em 1em;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5em;
}
.filtres:hover {
    background-color: rgb(231, 201, 228);
}

#itema {
    margin: 0em;
    font: inherit;
    font-weight: bold;
    grid-column: 1 / span 4;    /*Prend tout la première ligne*/
}
#itemb {
    grid-column: 1 / span 2; /*Prend 2 colonnes*/ 
}
h2 {
    margin: 0em 0em 0.5em;
    font: inherit;
}

/*-- Checkbox --*/
.form-control {
    display: none;
    /*display: inline-grid;*/
    grid-template-columns: auto auto;
    gap: 0.1em;
}

.show{  /*Afficher les filtres*/
    display: inline-grid;
}

input[type="checkbox"] {
    /* Cacher checkbox originale*/
    -webkit-appearance: none;
    appearance: none;  
    background-color: rgb(255, 255, 255);/* For iOS < 15 to remove gradient background */
    margin: 0em;
    /*custom checkbox non sélectionnées */
    width: 1em;
    height: 1em;
    border: 0.14em solid ;
    border-radius: 0.15em;
    transform: translateY(0.15em);/*Alligner la boite et le label*/
    display: grid;
    place-content: center;
}
input[type="checkbox"]:hover {
    background-color: rgb(225, 153, 208);
}

/*custom checkbox sélectionnée*/
input[type="checkbox"]::before {
    content: "";
    width: 1em;  /*taille du symbole check*/
    height: 1em;
    transform: scale(0); /*0 = caché*/
    box-shadow: inset 1em 1em var(--form-control-color);
    border-radius: 0.13em;
    background-color: rgb(180, 55, 151);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/*-- Submit button --*/
#sub_filtre {
    border-style: solid;
	border-color: rgb(180, 55, 151);
	border-radius: 0.2em;
	background-color: rgb(180, 55, 151);
    padding: 0.1em 0.3em;
    margin: 0.5em 0.3em;
    color: rgb(255, 255, 255);
}
#sub_filtre:hover {
	border-color: rgb(129, 33, 107);
	background-color: rgb(129, 33, 107);
}
/*-------------------Map+list---------------------*/

.row {  
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .map {
    flex: 80%;
    padding: 1%;

  }
  
  .list {
    max-width: 20%;
    padding: 1%;
    float: right;
  }

/*-------------------- PANIER --------------------*/
#panier{
    background-color: rgb(250, 238, 249);
    padding: 0.8em 1em;
}
h1 {
    margin: 0em;
    font: inherit;
    font-weight: bold;
}

/*-------------------- FOOTER --------------------*/
footer p{
    float: left;
    width: 33.33%;
    text-align: center;
}
footer:after {
    content: "";
    display: table;
    clear: both; 
}


/*-------------------- DARK MODE --------------------*//*-------------------- DARK MODE --------------------*//*-------------------- DARK MODE --------------------*/
.dark-mode {
    background-color: rgb(46, 46, 46);
    color: white;
}

/*-- Bouton Dark Mode --*/
#darkMode {
    display: block;
    border-style: solid;
	border-color: rgb(180, 55, 151);
	border-radius: 0.2em;
	background-color: rgb(255, 255, 255);
	padding: 0.1em 0.5em;
    margin: 1em;
    color: rgb(180, 55, 151);
	font-style: italic;
}
#darkMode:hover {
	border-color: rgb(241, 112, 0);
	background-color: rgb(254, 249, 241);
    color: rgb(241, 112, 0);
}
.dark-mode #darkMode {

	border-color: rgb(241, 112, 0);
	background-color: rgb(46, 46, 46);
    color: rgb(241, 112, 0);
}
.dark-mode #darkMode:hover {
	background-color: rgb(49, 31, 45);
    border-color: rgb(205, 82, 156);
    color: rgb(205, 82, 156);
}

/*-- Search Bar --*/
.dark-mode #searchbar {
    background-color: rgb(68, 58, 45);
    border-color: rgb(255, 119, 0);
}

.dark-mode ::placeholder, .dark-mode ::-webkit-input-placeholder {
    color: rgb(255, 119, 0);
}

/*-- Filtres --*/
.dark-mode .filtres {
    background-color: rgb(73, 58, 38);
}

.dark-mode [type="checkbox"] {
    background-color: rgb(46, 46, 46);
    border-color: white;
}
.dark-mode [type="checkbox"]:hover {
    background-color: rgb(199, 93, 0);
}
.dark-mode [type="checkbox"]::before {
    background-color: rgb(255, 119, 0);
}

.dark-mode #sub_filtre {
	border-color: rgb(255, 119, 0);
	background-color: rgb(255, 119, 0);
    color: rgb(46, 46, 46);
}
.dark-mode #sub_filtre:hover {
	border-color: rgb(255, 165, 86);
	background-color: rgb(255, 165, 86);
}

/*-- Panier --*/
.dark-mode #panier{
    background-color: rgb(73, 58, 38);
    padding: 0.8em 1em;
}